# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
package-lock.json
yarn.lock
.pnpm-debug.log*

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*
.pnpm-debug.log*

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Typescript
*.tsbuildinfo

# Debug
.vscode
*.swp
*.swo

# macOS
.DS_Store

# Windows
Thumbs.db

# Client-Side
/client/node_modules/
/client/build/
/client/dist/
/client/.cache/
/client/.next/
/client/.env
/client/.env.local
/client/.env.development.local
/client/.env.test.local
/client/.env.production.local
/client/coverage/

/server/node_modules/
/server/build/
/server/dist/
/server/tmp/
/server/temp/
/server/.env
/server/.env.local
/server/.env.development.local
/server/.env.test.local
/server/.env.production.local
/server/coverage/

# Ignore compiled JS files
*.js
*.js.map
# *.d.ts

# Ignore build directories
dist/
build/

# Ignore database dumps
*.sql
*.dump

# Ignore OS files
.DS_Store
Thumbs.db

# Ignore IDE files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

**/config/*.json
server/config/test.json
client/config/*.json
# Don't ignore default.json